/* 1만시간 피그마 링크
https://www.figma.com/file/YIoHn24LhFrCBEedo96rx6/1%EB%A7%8C-%EC%8B%9C%EA%B0%84%EC%9D%98-%EB%B2%95%EC%B9%99?node-id=3%3A293
 */

@import url(./reset.css);
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal; /*400*/
    font-style: normal;    
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
* {
    --font-weight-bold : 700;
    --color-title-yellow : #F5DF4D;
    --color-purple : #5B2386;
    --color-yellow : #FCEE21;
    --color-white : #FFFFFF;  
}
body {
    background-color: #5B2386;
    font-family: 'GmarketSansMedium';
    font-size : 14px;
    text-align: center; 
    color: var(--color-white);
    white-space: nowrap;
}
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}
.btn-type-1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color-yellow);    
    font-family: 'GmarketSansMedium';
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.02em;
    vertical-align: middle;
    color:var(--color-purple);
}
/* header 시작 */
.header{
    margin-top : 41px;  
    margin-bottom : 31px;   
}
.header__title {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;   
    background-position: center;
    background-size:120px;
    height : 106px;     
    display: flex;
    align-items: center;
    justify-content: center;   
}
.header__title > img {
    width : 267px;
}

/* section > explain 시작 */
.explain {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom : 62px;
}
.explain__title{
    font-family: "OTEnjoystoriesBA";
    font-weight : var(--font-weight-bold);
    font-size: 1.57em;
    line-height: 1.09em;
    color: var(--color-title-yellow);
    margin-bottom:78px;
}
.explain__desc {   
    line-height: 2em;  
    width:100%;
}
.explain__desc > strong {   
    font-weight: var(--font-weight-bold);  
}
.explain__desc::after{
    content : "";
    display: block;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat; 
    width:302px;
    height:17px;
    margin : 0 auto;
    position: relative;
    bottom : 3.9em;
}
/* section > wannabe 시작 */
.wannabe {
   margin-bottom : 16px;
   padding : 0 24px;   
}
.wannabe__form {
    line-height : 3em;
}
.wannabe__form input {
    font-family: 'GmarketSansMedium';
    width : 157px;
    height: 37px;
    border-radius: 7px;
    text-align: center;
}
#wannabe__block {
    display:block;
}
.wannabe__btn { 
    border-radius: 13px;
    width : 241px;
    white-space: normal;
    padding: 18px 36.5px;
    margin-top: 49px;
}
.wannabe::after {
    content: "";
    display: block;
    background-image: url(../img/click.png);
    background-size: cover;
    width: 43px;
    height: 48px;
    position:relative;
    right:-10.7em;
    bottom:2.64em;
    margin : 0 auto;
}

/* section > result 시작 */
.result {    
    margin-bottom : 87px;

}
.result {
    letter-spacing: 0.01em;
}
.result__text {
    font-weight: var(--font-weight-bold);
    font-size : 1.7em;
    line-height: 2em; 
    vertical-align:middle;
    padding : 0 7px;
}
.result > .btn__box > button {
    margin-top: 55px;
    padding: 13.5px 17.5px;  
    border-radius: 56px;
    color: #5B2386;
}
/* 노란 버튼 해결하렴. width빼라. 전체화면에서. reset주면 될 듯. */
/* 종료하고 어쩌구 버튼에 라인헤이트 줘라. */
/* 인풋이랑 버튼 같은 거는 패딩으로 조절 */
/* white-space : pre-line */
/* word-break : keep-all 은 단어를 유지. */
.result > .btn__box > button:last-child {
    background-color: var(--color-white);
    margin-left:17px;
    line-height: 21px;    
}

/* footer 시작 */
.footer {
    margin-bottom : 32px;
}
.footer__logo {
    margin-bottom: 17px;
}
.footer__copyright {
    display: block;
    font-family: 'Noto Sans KR';
    font-size: 0.64em;
    line-height: 1.44em;
}

/* modal 시작 */
.cheer {
    display: flow-root;
    width:330px;
    height:500px;
    margin : 0 auto;
    background-color:var(--color-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-bottom : 32px;
}
.cheer__title {
    font-family: 'OTEnjoystoriesBA';
    font-weight: var(--font-weight-bold);
    font-size: 4em;
    line-height: 1.09em;
    color: var(--color-purple);
    margin-top : 40px;
    
}
.cheer__desc {
    font-family: 'OTEnjoystoriesBA';
    font-weight: var(--font-weight-bold);
    font-size: 2.57em;
    line-height: 1.11em;
    color: var(--color-purple);
 
}
.cheer__btn {
    white-space: normal;
    width : 241px;
    padding : 19px 45px;
    border-radius: 13px;
    margin-top:246px;
}

/* 반응형 웹 시작 */

@media all and (min-width:480px)  {
body{
        font-size : 24px;
    }
.btn-type-1 {
        font-size : 24px;   
        vertical-align: middle;
        color:var(--color-purple);
}
.header{
    margin-top : 120px;  
    margin-bottom : 46px;   
}
.header__title {
    background-size:225px;
    height : 225px;      
}
.header__title > img {
    width : 564px;
}
.explain {
    margin-bottom : 6px;
}
.explain__title{
    margin-bottom:78px;
}
.explain__desc::after{ 
    width:493px;
    height : 96px;
    background-size: contain;  
}
.wannabe {
   margin-bottom : 80px;
}
.wannabe__form input {
    width : 228px;
    height: 57px;
    font-size : 24px;
}
#wannabe__block {
    display:inline;
}

.wannabe__btn { 
    white-space: nowrap;
    border-radius: 56px;
    width:auto;
    padding: 21px 49px;
    margin-top: 115px;
}

.wannabe::after {
    width: 64px;
    height: 72px;
    margin : 0 auto;
    right:-13.7em;
    bottom:2.44em; 
}
.result {    
    margin-bottom : 130px;
}
.result__text {
    font-size : 3em;
    line-height: 1.25em; 
    padding : 0 12px;
}
.result > .btn__box > button {
    margin-top: 127px;
    padding: 21px 49px;  
}
.result > .btn__box > button:last-child {
    margin-left:17px;
    line-height: 36px;    
}
.footer {
    margin-bottom : 130px;
}
.footer__logo {
    margin-bottom: 20px;
}
.footer__copyright {
    font-size: 12px;
}
.cheer {
    width:800px;
    height:800px;
    margin-bottom : 130px;
}
.cheer__title {
    margin-top : 76px;
    font-size: 4em;
    line-height: 1.09em;
}
.cheer__title::after {
    content : "♥♥♥"
}
.cheer__desc {
    font-size: 1.5em;
}
.cheer__desc::after {
    content : "";
    display: block;
    width: 433px;
    height : 337px; 
    margin: 0 auto;
    background-image: url(../img/licat.png);
}
.cheer__btn { 
    width : 508px;
    padding : 21px 49px;
    margin-top:74px;
}
}