/* Reset CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Pretendard';
    font-style: normal;
}
li {
    list-style: none;
}
h1 {
    font-size:initial;
    font-weight: initial;
}
button{
    background-color: initial;
    border:initial;
}
.sr-only {
    z-index:-10;
}
/* Header */
.header{
    background-color: #FFFFFF;
    padding-left : 347px;
    padding-right: 348px;
    display: flex;
}
.header__logo {
    padding-top:24px;
    padding-bottom:21px;
    position: relative;
}
.header__logo::after{
    content : "";
    display : block;
    background-color: #FFCF5C;
    width: 56px;
    height: 4px;
    border-radius: 4px;    
    position:absolute;
    right:0%;
    top:33%;
}
.nav__list{
    display:flex;
    height:100%;
    align-items: center;
    gap:80px;
    margin-left:182px;
}




